<ion-header>
	<ion-navbar color="primary">
		<ion-title>
			<h2>Welcome</h2>
		</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="logout()"><ion-icon name="power"></ion-icon></button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content no-padding>
	<div class="first" no-padding>
		<ion-col>
			<ion-row no-padding>
				<div class="empty-profile" text-center>
					<img (click)="chooseImage()" class="image" [src]="profile_image" />
				</div>
			</ion-row>
			<ion-row class="username">
				<h2>{{username}}</h2>
			</ion-row>
		</ion-col>
		<div class="segments">
			<ion-segment [(ngModel)]="eventType" class="segment">
				<ion-segment-button value="favorites">
					Favorites ({{past_events_size}})
				</ion-segment-button>
				<ion-segment-button value="tickets">
					Tickets
				</ion-segment-button>
				<ion-segment-button value="interests">
					Interests
				</ion-segment-button>
				<ion-segment-button value="ratings">
					Ratings
				</ion-segment-button>
			</ion-segment>
		</div>
	</div>

	<div class="all" padding>
		<div [ngSwitch]="eventType" no-padding>
			<div class="favorites" no-padding *ngSwitchCase="'favorites'">
				<ion-slides [options]="mySlideOptions">
					<ion-slide *ngFor="let past_event of past_events">
						<ion-card>
							<img class="event_image" data-src="{{local + past_event.image}}">
							<ion-card-content>
								<ion-card-title>
									{{past_event.name}}
								</ion-card-title><br>
								<p>Event Type:{{past_event.event_type}}</p><br>
								<p>Organizator:{{past_event.creator}}</p><br>
								<p>Location:{{past_event.location}}</p><br>
								<p>Description:{{past_event.info}}</p>
							</ion-card-content>
						</ion-card>
					</ion-slide>
				</ion-slides>
			</div>
			<ion-list class="tickets" *ngSwitchCase="'tickets'">
				<ion-col>
					<ion-list inset>
						<h1>Tickets</h1>
					</ion-list>
				</ion-col>
			</ion-list>
			<div class="interests" *ngSwitchCase="'interests'" no-padding>
				<ion-grid class="i_grid" *ngFor="let trio of getTriples()">
					<ion-row class="i_row">
						<ion-col offset-7 *ngFor="let item of trio" class="i_col" (press)="pressEvent(item)">
							<div class="i_img_lbl">
								<div class="interest_image"><img [src]="item.icon" class="i_image" [id]="item.name"></div>
								<ion-label class="i_name">{{item.name}}</ion-label>
								<div *ngIf="gridPressed">
									<ion-icon name='checkmark'></ion-icon>
								</div>
							</div>
						</ion-col>
					</ion-row>
				</ion-grid>
				<div class="i_update">
					<ion-buttons end>
						<button ion-button clear small (click)="showCheckbox()" color="danger" icon-left>
                      <ion-icon name='add'></ion-icon>
                      Update
                  </button>
					</ion-buttons>
				</div>
			</div>
			<ion-list class="ratings" *ngSwitchCase="'ratings'">
				<ion-item *ngFor="let rating of user_ratings">
					<ion-label>
						{{rating.rating_type}}({{rating.total/rating.avg}})
						<rating readOnly="true" [(ngModel)]="rating.avg"></rating>
					</ion-label>
				</ion-item>
			</ion-list>
		</div>
	</div>
</ion-content>