<ion-header>
	<ion-navbar color="primary">
		<ion-title>
			<h2>Welcome</h2>
		</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="logout()"><ion-icon name="power"></ion-icon></button>
			<button ion-button icon-only (click)="pushMessages()"><ion-icon name="chatboxes"></ion-icon></button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content no-padding>
	<div class="first" no-padding>
		<ion-col>
			<ion-row no-padding>
				<div class="empty-profile" text-center>
					<img (click)="chooseImage()" class="image" [src]="profile_image" />
				</div>
			</ion-row>
			<ion-row class="username">
				<h2>{{username}}</h2>
			</ion-row>
		</ion-col>
		<div class="segments" *ngIf="upcoming_events">
			<ion-segment [(ngModel)]="segmentType" class="segment">
				<ion-segment-button value="past">
					History ({{past_events_size}})
				</ion-segment-button>
				<ion-segment-button value="upcoming">
					Upcoming ({{upcoming_events.length}})
				</ion-segment-button>
				<ion-segment-button value="interests">
					Interests
				</ion-segment-button>
				<ion-segment-button value="ratings">
					Ratings
				</ion-segment-button>
			</ion-segment>
		</div>
	</div>

	<div class="all" padding>
		<div [ngSwitch]="segmentType" no-padding>
			<div class="past" no-padding *ngSwitchCase="'past'">
				<ion-list>
					<ion-item-sliding *ngFor="let past of past_events">
						<ion-item>
							<ion-avatar item-left>
								<img [src]="past.image">
							</ion-avatar>
							<h2>{{past.name}}</h2>
							<p>by {{past.creator}}</p>
						</ion-item>
						<ion-item-options>
							<button ion-button color="primary" (click)="showRadio(past.creator, past.event_type)" icon-left>
                              <ion-icon name="star"></ion-icon>
                                Rate
                               </button>
						</ion-item-options>
					</ion-item-sliding>
				</ion-list>
			</div>


			<div class="upcoming" no-padding *ngSwitchCase="'upcoming'">
				<ion-list>
					<ion-item-sliding *ngFor="let event of upcoming_events">
						<ion-item>
							<ion-avatar item-left>
								<img [src]="event.image">
							</ion-avatar>
							<h2>{{event.name}}</h2>
							<p>by {{event.creator}}</p>
						</ion-item>
						<ion-item-options>
							<button ion-button color="primary" (click)="pushEventDetail(event)" icon-left>
                              <ion-icon name="more"></ion-icon>
                                Details
                               </button>
						</ion-item-options>
					</ion-item-sliding>
				</ion-list>
			</div>


			<div class="interests" *ngSwitchCase="'interests'" no-padding>
				<ion-grid class="i_grid" *ngFor="let trio of getTriples()">
					<ion-row class="i_row">
						<ion-col offset-7 *ngFor="let item of trio" class="i_col" (press)="pressEvent(item)">
							<div class="i_img_lbl">
								<div class="interest_image"><img [src]="item.icon" class="i_image" [id]="item.name"></div>
								<ion-label class="i_name">{{item.name}}</ion-label>
								<div *ngIf="gridPressed">
									<ion-icon name='checkmark'></ion-icon>
								</div>
							</div>
						</ion-col>
					</ion-row>
				</ion-grid>
				<div class="i_update">
					<ion-buttons end>
						<button ion-button clear small (click)="showCheckbox()" color="danger" icon-left>
                      <ion-icon name='add'></ion-icon>
                      Update
                  </button>
					</ion-buttons>
				</div>
			</div>
			<ion-list class="ratings" *ngSwitchCase="'ratings'">
				<ion-item *ngFor="let rating of user_ratings">
					<ion-label>
						<p>{{rating.rating_type}}({{rating.total/rating.avg}})</p>
						<rating readOnly="true" [(ngModel)]="rating.avg"></rating>
					</ion-label>
				</ion-item>
			</ion-list>
		</div>
	</div>
</ion-content>